[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	push = group Cyngn Developers
	label-Code-Review = -2..+2 group Cyngn Developers
	label-Verified = -1..+1 group Cyngn Developers
	forgeAuthor = group Cyngn Developers
	submit = group Cyngn Developers
[submit]
	action = rebase if necessary
